html {
  font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family:
    "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px; /*字体大小*/
  line-height: 2; /*行高*/
  letter-spacing: 1px; /*行间距*/
  color: rgb(109, 231, 231);
}

a {
    color: crimson;
    font-size: 15px;
    letter-spacing: 1px;
}

html {
  background-color: white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #a7dedf;
  text-shadow: 3px 3px 1px rgb(239, 228, 228);
}


img {
  display: block;
  margin: 0 auto;
}



